@import url('global.css?v=20260415-10');

:root {
    /* Editor Specific Layout Constants */
    --sidebar-width: 292px;
    --detail-panel-width: 436px;
    --header-height: 80px;
}

body {
    overflow: hidden;
    height: 100vh;
}
